<section class="prefooter" style="padding-right: 70px">
  <div class="prefooterContent">

    <div class="contentElement">
      <a href="">
        <figure>

          <img alt="Panorama Rouen" src="../../assets/images/prefooter3.png">
          <figcaption>
            <div class="captionContent">
              <div class="iconWrap">
                <img alt="" src="../../assets/images/compass.svg">
              </div>
              <span>
                        Découvrir ISTIC
                      </span>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="contentElement">
      <a href="">
        <figure>

          <img alt="pochette" src="../../assets/images/prefooter4.png">
          <figcaption>
            <div class="captionContent">
              <div class="iconWrap">
                <img alt="" src="../../assets/images/mortarboard.svg" >
              </div>
              <span>
                        Nos formations
                      </span>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="contentElement">
      <a href="">
        <figure>

          <img alt="Formation" src="../../assets/images/prefooter3.png" >
          <figcaption>
            <div class="captionContent">
              <div class="iconWrap">
                <img alt="" src="../../assets/images/flyer.svg">
              </div>
              <span>
                        Inscription
                      </span>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="contentElement">
      <a href="" target="_blank">
        <figure>

          <img alt="PC portable" src="../../assets/images/prefooter4.png" >
          <figcaption>
            <div class="captionContent">
              <div class="iconWrap">
                <img alt="" src="../../assets/images/lifebuoy-2.svg" >
              </div>
              <span>
                        Assistance en ligne
                      </span>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
