<section class="agenda">
  <div class="sectionTitle" data-deco="Agenda">
    <h2>
            <span>
              <svg id="agendaLogo" viewBox="0 0 24.755 24.328" width="100%" height="100%">
                  <g transform="translate(0 -0.5)">
                      <path id="Tracé_99" data-name="Tracé 99"
                            d="M18.31,2.207A2.138,2.138,0,0,0,16.219.5a.427.427,0,1,0,0,.854,1.28,1.28,0,0,1,0,2.561.427.427,0,1,0,0,.854A2.138,2.138,0,0,0,18.31,3.061H23.9V6.9H.854V3.061H8.109a.427.427,0,0,0,0-.854H7.334a1.278,1.278,0,1,1,1.2,1.707.427.427,0,0,0,0,.854A2.134,2.134,0,1,0,6.445,2.207H0V24.828H24.755V2.207ZM23.9,23.974H.854V7.756H23.9Z"
                            fill="#121736"></path>
                      <path id="Tracé_100" data-name="Tracé 100"
                            d="M25.427,1.354a1.28,1.28,0,1,1,0,2.561.427.427,0,0,0,0,.854,2.134,2.134,0,1,0,0-4.268.427.427,0,0,0,0,.854Z"
                            transform="translate(-14.33)" fill="#121736"></path>
                      <path id="Tracé_101" data-name="Tracé 101"
                            d="M31.427,1.354a1.28,1.28,0,0,1,0,2.561.427.427,0,1,0,0,.854,2.134,2.134,0,0,0,0-4.268.427.427,0,1,0,0,.854Z"
                            transform="translate(-17.769)" fill="#121736"></path>
                      <path id="Tracé_102" data-name="Tracé 102"
                            d="M8.427,24.354h9.39a.427.427,0,1,0,0-.854H8.427a.427.427,0,1,0,0,.854Z"
                            transform="translate(-4.586 -13.183)" fill="#121736"></path>
                      <path id="Tracé_103" data-name="Tracé 103"
                            d="M39.829,39.5h-6.4a.427.427,0,1,0,0,.854h6.4a.427.427,0,1,0,0-.854Z"
                            transform="translate(-18.915 -22.354)" fill="#121736"></path>
                      <path id="Tracé_104" data-name="Tracé 104"
                            d="M8.427,32.354h4.268a.427.427,0,1,0,0-.854H8.427a.427.427,0,1,0,0,.854Z"
                            transform="translate(-4.586 -17.769)" fill="#121736"></path>
                      <path id="Tracé_105" data-name="Tracé 105"
                            d="M42.695,47.5H38.427a.427.427,0,0,0,0,.854h4.268a.427.427,0,1,0,0-.854Z"
                            transform="translate(-21.781 -26.94)" fill="#121736"></path>
                      <path id="Tracé_106" data-name="Tracé 106"
                            d="M28,31.927a.427.427,0,0,0,.427.427h6.4a.427.427,0,0,0,0-.854h-6.4A.427.427,0,0,0,28,31.927Z"
                            transform="translate(-16.049 -17.769)" fill="#121736"></path>
                      <path id="Tracé_107" data-name="Tracé 107"
                            d="M23.73,32.237a.427.427,0,1,0-.606,0,.433.433,0,0,0,.606,0Z"
                            transform="translate(-13.183 -17.776)" fill="#121736"></path>
                      <path id="Tracé_108" data-name="Tracé 108"
                            d="M13,39.927a.427.427,0,0,0,.427.427h6.4a.427.427,0,1,0,0-.854h-6.4A.427.427,0,0,0,13,39.927Z"
                            transform="translate(-7.451 -22.354)" fill="#121736"></path>
                      <path id="Tracé_109" data-name="Tracé 109"
                            d="M8.427,40.361a.423.423,0,0,0,.427-.427.429.429,0,0,0-.124-.3.443.443,0,0,0-.606,0,.433.433,0,0,0,0,.606A.441.441,0,0,0,8.427,40.361Z"
                            transform="translate(-4.586 -22.362)" fill="#121736"></path>
                      <path id="Tracé_110" data-name="Tracé 110"
                            d="M48.427,32.361a.429.429,0,0,0,.3-.73.429.429,0,0,0-.606.606A.432.432,0,0,0,48.427,32.361Z"
                            transform="translate(-27.513 -17.776)" fill="#121736"></path>
                      <path id="Tracé_111" data-name="Tracé 111"
                            d="M19.1,47.5H8.427a.427.427,0,0,0,0,.854H19.1a.427.427,0,1,0,0-.854Z"
                            transform="translate(-4.586 -26.94)" fill="#121736"></path>
                  </g>
              </svg>
                Agenda
            </span>
    </h2>

    <a routerLink="">
      <svg class="plusIcon" viewBox="0 0 12 12" width="100%" height="100%">
        <path class="Tracé_88" data-name="Tracé 88"
              d="M11.349,5.164H6.837V.652A.809.809,0,0,0,6,0a.809.809,0,0,0-.837.651V5.164H.651A.809.809,0,0,0,0,6a.809.809,0,0,0,.651.837H5.163V11.35A.809.809,0,0,0,6,12a.809.809,0,0,0,.837-.651V6.838h4.512A.809.809,0,0,0,12,6,.809.809,0,0,0,11.349,5.164Z"
              transform="translate(0 -0.001)" fill="#121736"></path>
      </svg>
      Tous les événements
    </a>
  </div>

  <div class="sectionContent container">
    <div class="row">
      <div class="col-sm-12 col-md-3 agendaSingle">
        <a routerLink="">
          <figure>
            <div class="imgWrap">
              <img alt="" src="../../assets/images/event1.jpg" >
            </div>
            <figcaption>
              <div class="datesWrap">
                <div class="singleDate">
                  <div class="date">
                    11
                  </div>
                  <div class="month">
                    mars
                  </div>
                </div>
                <div class="singleDate">
                  <div class="date">
                    12
                  </div>
                  <div class="month">
                    <div class="month">
                      avr.
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                Event 1 Title
              </div>
            </figcaption>
          </figure>
        </a>
        <ul class="categories">
          <li>
            <a routerLink="">
              <div class="categorie">

                Plus d'infos
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 agendaSingle">
        <a routerLink="">
          <figure>
            <div class="imgWrap">
              <img alt="" src="../../assets/images/event2.jpg">
            </div>
            <figcaption>
              <div class="datesWrap">
                <div class="singleDate">
                  <div class="date">
                    18
                  </div>
                  <div class="month">
                    mars
                  </div>
                </div>
                <div class="singleDate">
                  <div class="date">
                    08
                  </div>
                  <div class="month">
                    <div class="month">
                      avr.
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                Event 2 Title
              </div>
            </figcaption>
          </figure>
        </a>
        <ul class="categories">
          <li>
            <a routerLink="">
              <div class="categorie">

                Plus d'infos
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-sm-12 col-md-3 agendaSingle">
        <a routerLink="">
          <figure>
            <div class="imgWrap">
              <img alt="" src="../../assets/images/event3.jpg">
            </div>
            <figcaption>
              <div class="datesWrap">
                <div class="singleDate">
                  <div class="date">
                    01
                  </div>
                  <div class="month">
                    avr.
                  </div>
                </div>
                <div class="singleDate">
                  <div class="date">
                    15
                  </div>
                  <div class="month">
                    <div class="month">
                      mai
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                Event 3 Title
              </div>
            </figcaption>
          </figure>
        </a>
        <ul class="categories">
          <li>
            <a routerLink="">
              <div class="categorie">

                Plus d'infos
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-sm-12 col-md-3 agendaSingle">
        <a routerLink="">
          <figure>
            <div class="imgWrap">
              <img alt="" src="../../assets/images/event4.jpg">
            </div>
            <figcaption>
              <div class="datesWrap">
                <div class="singleDate">
                  <div class="date">
                    05
                  </div>
                  <div class="month">
                    avr.
                  </div>
                </div>
                <div class="singleDate">
                  <div class="date">
                    23
                  </div>
                  <div class="month">
                    <div class="month">
                      avr.
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                Event 4 Title
              </div>
            </figcaption>
          </figure>
        </a>
        <ul class="categories">
          <li>
            <a routerLink="">
              <div class="categorie">

                Plus D'infos
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-12 visible-xs more-posts">
        <a routerLink="">
          <svg class="plusIcon" viewBox="0 0 12 12" width="100%" height="100%">
            <path class="Tracé_88" data-name="Tracé 88"
                  d="M11.349,5.164H6.837V.652A.809.809,0,0,0,6,0a.809.809,0,0,0-.837.651V5.164H.651A.809.809,0,0,0,0,6a.809.809,0,0,0,.651.837H5.163V11.35A.809.809,0,0,0,6,12a.809.809,0,0,0,.837-.651V6.838h4.512A.809.809,0,0,0,12,6,.809.809,0,0,0,11.349,5.164Z"
                  transform="translate(0 -0.001)" fill="#121736"></path>
          </svg>
          Tous les événements
        </a>
      </div>
    </div>
  </div>
</section>
