<section class="chiffres">
    <div class="container">
        <div class="decoTop">
            <span>
                Quelques <br>
                chiffres-clés
            </span>
        </div>

        <div class="row">

                      <div class="col-xs-6 col-md-3 etudiants">
                <div class="number">
                    <span class="counter">
                        4 000                    </span>
                </div>
                <div class="text">
                    <span class="firstLine">
                        étudiants
                    </span>
                                    </div>
            </div>
                      <div class="col-xs-6 col-md-3 diplome">
                <div class="number">
                    <span class="counter">
                        700                    </span>
                </div>
                <div class="text">
                    <span class="firstLine">
                        diplômes
                    </span>
                                          <span class="secondLine">
                          remis chaque année 
                      </span>
                                    </div>
            </div>
                      <div class="col-xs-6 col-md-3 insertion">
                <div class="number">
                    <span class="counter">
                        60                   </span>
                </div>
                <div class="text">
                    <span class="firstLine">
                        Enseignants
                    </span>
                                    </div>
            </div>
                      <div class="col-xs-6 col-md-3 etudiantsEtrangers">
                <div class="number">
                    <span class="counter">
                        10                   </span>
                </div>
                <div class="text">
                    <span class="firstLine">
                        clubs
                    </span>
                                          <span class="secondLine">
                          actifs
                      </span>
                                    </div>
            </div>
                  </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="990.405" height="998.07" viewBox="0 0 990.405 998.07">
      <defs>
        <clipPath id="clip-path">
          <rect id="Rectangle_44" data-name="Rectangle 44" width="990.405" height="998.071" transform="translate(990.405 996.071) rotate(180)" fill="none"/>
        </clipPath>
      </defs>
      <g id="Groupe_de_masques_6" data-name="Groupe de masques 6" transform="translate(990.405 996.07) rotate(180)" opacity="0.12" clip-path="url(#clip-path)">
        <g id="Groupe_99" data-name="Groupe 99" transform="translate(8.724 2.719)">
          <circle id="Ellipse_21" data-name="Ellipse 21" cx="489.691" cy="489.691" r="489.691" transform="translate(0 0)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.704"/>
          <circle id="Ellipse_22" data-name="Ellipse 22" cx="454.308" cy="454.308" r="454.308" transform="translate(35.384 35.383)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.688"/>
          <circle id="Ellipse_23" data-name="Ellipse 23" cx="418.925" cy="418.925" r="418.925" transform="translate(70.767 70.767)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.672"/>
          <circle id="Ellipse_24" data-name="Ellipse 24" cx="383.541" cy="383.541" r="383.541" transform="translate(106.15 106.15)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.656"/>
          <circle id="Ellipse_25" data-name="Ellipse 25" cx="348.158" cy="348.158" r="348.158" transform="translate(141.534 141.534)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.641"/>
          <circle id="Ellipse_26" data-name="Ellipse 26" cx="312.774" cy="312.774" r="312.774" transform="translate(176.917 176.917)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.625"/>
          <circle id="Ellipse_27" data-name="Ellipse 27" cx="277.391" cy="277.391" r="277.391" transform="translate(198.431 752.482) rotate(-87.058)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.609"/>
          <circle id="Ellipse_28" data-name="Ellipse 28" cx="242.008" cy="242.008" r="242.008" transform="translate(238.857 722.538) rotate(-87.87)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.593"/>
          <circle id="Ellipse_29" data-name="Ellipse 29" cx="206.624" cy="206.624" r="206.624" transform="matrix(0.027, -1, 1, 0.027, 277.604, 690.704)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.577"/>
          <circle id="Ellipse_30" data-name="Ellipse 30" cx="171.241" cy="171.241" r="171.241" transform="translate(315.246 657.667) rotate(-88.918)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.561"/>
          <circle id="Ellipse_31" data-name="Ellipse 31" cx="135.858" cy="135.858" r="135.858" transform="matrix(0.013, -1, 1, 0.013, 352.124, 623.818)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.546"/>
          <circle id="Ellipse_32" data-name="Ellipse 32" cx="100.474" cy="100.474" r="100.474" transform="translate(388.454 589.396) rotate(-89.563)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.53"/>
          <circle id="Ellipse_33" data-name="Ellipse 33" cx="65.091" cy="65.091" r="65.091" transform="matrix(0.003, -1, 1, 0.003, 424.374, 554.556)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.514"/>
          <path id="Tracé_183" data-name="Tracé 183" d="M0,29.709A29.707,29.707,0,1,1,29.709,59.418,29.709,29.709,0,0,1,0,29.709Z" transform="translate(459.985 459.983)" fill="none" stroke="#3f2c70" stroke-miterlimit="10" stroke-width="0.498"/>
        </g>
      </g>
    </svg>
</section>
