
<section class="campus">
    <div class="sectionTitle container" data-deco="Vie des campus">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span>
                      <svg id="campusLogo" viewBox="0 0 34.18 37.847" width="100%" height="100%">
                        <g id="road" transform="translate(-0.001)">
                            <path id="Tracé_902" data-name="Tracé 902" d="M32.589,15.917a.739.739,0,0,0-.654-.4H19.663V14.187H31.935a.739.739,0,0,0,.654-.4L34.1,10.929a.739.739,0,0,0,0-.688L32.589,7.377a.739.739,0,0,0-.654-.4H19.663V3.19a.74.74,0,0,0-.147-.443L17.683.3A.739.739,0,0,0,16.5.3L14.665,2.748a.74.74,0,0,0-.147.443v8.062H2.247a.739.739,0,0,0-.654.4L.086,14.51a.739.739,0,0,0,0,.688l1.507,2.863a.739.739,0,0,0,.654.4H14.518v8.272a.739.739,0,1,0,1.478,0V3.436l1.094-1.463,1.094,1.463V36.369H16V32.643a.739.739,0,0,0-1.478,0v3.726H9.443a.739.739,0,1,0,0,1.478h15.3a.739.739,0,1,0,0-1.478H19.663V22.727H31.935a.739.739,0,0,0,.654-.4L34.1,19.468a.739.739,0,0,0,0-.688Zm-29.9,1.062L1.575,14.854l1.118-2.124H14.518v4.248H2.693ZM31.488,8.461l1.118,2.124-1.118,2.124H19.663V8.461Zm0,12.788H19.663V17H31.488l1.118,2.124Zm0,0" transform="translate(0 0)" fill="#121736" fill-rule="evenodd"></path>
                            <path id="Tracé_903" data-name="Tracé 903" d="M197.13,393.076a.739.739,0,1,0-.739-.739A.741.741,0,0,0,197.13,393.076Zm0,0" transform="translate(-181.873 -362.651)" fill="#121736" fill-rule="evenodd"></path>
                        </g>
                      </svg>
                      Vie des campus
                    </span>
                </h2>
            </div>
        </div>
    </div>

    <div class="sectionTextContent">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, accusantium nulla eligendi omnis quibusdam iusto earum laudantium amet assumenda quos nesciunt facilis saepe inventore eos quam rem sunt? In, repudiandae!</p>

                </div>
            </div>
        </div>
    </div>



    <div class="sectionContent">
        <div class="grid1">
                          <div class="item item1">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic1.jpg" alt="">
                  
                </div>
              </div>
                          <div class="item item2">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic2.jpg" alt="">
                  
                </div>
              </div>
                          <div class="item item3">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic3.jpg" alt="">
                  
                </div>
              </div>
                          <div class="item item4">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic1.jpg" alt="">
                  
                </div>
              </div>
                          <div class="item item5">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic2.jpg" alt="">
                  
                </div>
              </div>
                          <div class="item item6">
                <div class="itemContent">
                                      <img class="no-lazy-load" src="./assets/images/istic3.jpg" alt="">
                  
                </div>
              </div>
                    </div>
        <div class="container linkWrap">
            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-lg-3 linkSingle">
                    <a href="">
                        <span class="text">
                            Campus
                        </span>

                        <span class="imgWrap">
                                                      <img class="no-lazy-load" src="./assets/images/thumbnail_bulles.png" alt="Illustration Vie des campus">
                                                  </span>
                    </a>
                </div>
                              <div class="col-xs-12 col-sm-6 col-lg-3 linkSingle">
                    <a href="">
                        <span class="text">
                            Culture
                        </span>

                        <span class="imgWrap">
                                                      <img class="no-lazy-load" src="./assets/images/thumbnail_bulles.png" alt="Illustration Vie des campus">
                                                  </span>
                    </a>
                </div>
                              <div class="col-xs-12 col-sm-6 col-lg-3 linkSingle">
                    <a href="">
                        <span class="text">
                            Vie étudiante
                        </span>

                        <span class="imgWrap">
                                                      <img class="no-lazy-load" src="./assets/images/thumbnail_bulles.png" alt="Illustration Vie des campus">
                                                  </span>
                    </a>
                </div>
                              <div class="col-xs-12 col-sm-6 col-lg-3 linkSingle">
                    <a href="">
                        <span class="text">
                            Sport
                        </span>

                        <span class="imgWrap">
                                                      <img class="no-lazy-load" src="./assets/images/thumbnail_bulles.png" alt="Illustration Vie des campus">
                                                  </span>
                    </a>
                </div>
                          </div>
        </div>

        <div class="grid2">
                      <div class="item item1">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic4.jpg" alt="">
                              </div>
            </div>
                      <div class="item item2">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic5.jpg" alt="">
                              </div>
            </div>
                      <div class="item item3">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic6.jpg" alt="">
                              </div>
            </div>
                      <div class="item item4">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic4.jpg" alt="">
                              </div>
            </div>
                      <div class="item item5">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic5.jpg" alt="">
                              </div>
            </div>
                      <div class="item item6">
              <div class="itemContent">
                                  <img class="no-lazy-load" src="./assets/images/istic6.jpg" alt="">
                              </div>
            </div>
                  </div>
    </div>
</section>
