 
 
 
 <div  class="home blog" data-template="base.twig">
				<div class="mainWrap home">
			<div class="tools">
			    <ul>
          <li>
        <a  href="">
          <span>Accueil</span>
        </a>
      </li>
          <li>
        <a  href="">
          <span>Se Connecter</span>
        </a>
      </li>
          <li>
        <a  routerLink="/inscription">
          <span>S'inscrire</span>
        </a>
      </li>
          <li>
        <a  href="">
          <span>Contact</span>
        </a>
      </li>
      </ul>
			    <ul class="langSwitcher">
          <li>
        <a href="" >
          <span>FR</span>
        </a>
      </li>
          <li>
        <a href="" >
          <span>EN</span>
        </a>
      </li>
      </ul>
             </div>

                       <!-- Tools start-->
			<div class="tools">
			    <ul>
          <li>
        <a  href="">
          <span>Accueil</span>
        </a>
      </li>
          <li>
        <a  href="">
          <span>Se Connecter</span>
        </a>
      </li>
          <li>
        <a  href="">
          <span>S'inscrire</span>
        </a>
      </li>
          <li>
        <a  href="">
          <span>Contact</span>
        </a>
      </li>
      </ul>
			    <ul class="langSwitcher">
          <li>
        <a href="" >
          <span>FR</span>
        </a>
      </li>
          <li>
        <a href="" >
          <span>EN</span>
        </a>
      </li>
      </ul>
			</div>
      <!--Tools end-->
      
        <!--aside start-->
			<aside class="desktop">
			    <div class="burgerMenuWrap">
			        <div class="burger-menu">
			            <div class="burger-click-region">
			                <span class="burger-menu-piece"></span>
			                <span class="burger-menu-piece"></span>
			                <span class="burger-menu-piece"></span>
			            </div>
			            <span class="burger-menu-txt">Menu</span>
			        </div>
			    </div>

			    <div class="searchMenuWrap">
			      <svg class="search" viewBox="0 0 21 21" width="100%" height="100%">
			        <g>
			          <g>
			            <path d="M8.87 2.502a5.973 5.973 0 1 1-5.972 5.973A5.98 5.98 0 0 1 8.87 2.502zm10.95 16.119l-4.763-4.955a8.078 8.078 0 1 0-6.186 2.886 7.995 7.995 0 0 0 4.63-1.458l4.803 4.993a1.054 1.054 0 1 0 1.52-1.458z"></path>
			          </g>
			        </g>
			      </svg>

			        <span>Recherche</span>
			    </div>

			    <div class="annexLinks">
			      	<a href="" target="_blank"> <!--FACEBOOK-->
			          <svg class="facebook" viewBox="0 0 11 22" width="100%" height="100%">
			            <g>
			              <g>
			                <path d="M10.215 7.118H6.733V4.836c0-.856.57-1.057.97-1.057h2.452V.013L6.773 0c-3.75 0-4.602 2.809-4.602 4.608v2.51H0v3.879h2.17V21.98h4.566V10.999h3.08z"></path>
			              </g>
			            </g>
			          </svg>
			        </a>
              <a href="" target="_blank">    <!--INSTAGRAM-->
			          <svg class="instagram" viewBox="0 0 19 19" width="100%" height="100%">
			            <g>
			              <g>
			                <path d="M15.86 4.451c0 .716-.583 1.297-1.297 1.297a1.298 1.298 0 0 1-1.296-1.297c0-.716.582-1.296 1.296-1.296.714 0 1.297.58 1.297 1.296zm1.331 9.14v-8.1c0-1.985-1.615-3.6-3.6-3.6h-8.1a3.604 3.604 0 0 0-3.6 3.6v8.1c0 1.985 1.615 3.6 3.6 3.6h8.1a3.606 3.606 0 0 0 3.602-3.6zm1.89-8.1v8.1a5.498 5.498 0 0 1-5.49 5.49h-8.1A5.498 5.498 0 0 1 0 13.592v-8.1A5.498 5.498 0 0 1 5.491 0h8.1a5.497 5.497 0 0 1 5.49 5.491zm-6.476 4.05A3.066 3.066 0 0 0 9.54 6.477a3.066 3.066 0 0 0-3.064 3.064 3.066 3.066 0 0 0 3.064 3.064 3.066 3.066 0 0 0 3.064-3.064zm1.889 0c0 2.73-2.221 4.953-4.953 4.953A4.959 4.959 0 0 1 4.586 9.54a4.96 4.96 0 0 1 4.955-4.955 4.957 4.957 0 0 1 4.953 4.955z"></path>
			              </g>
			            </g>
			          </svg>
			        </a>
          </div>
			      
			    <div class="separator"></div>
											      
			    <div class="goToTop">
			        <a href="#">
			          <svg id="top" viewBox="0 0 13 18" width="100%" height="100%">
			            <g>
			                <path d="M12.219 6.017a.623.623 0 0 1 0 .89c-.24.24-.64.24-.88 0L6.83 2.396v14.878a.626.626 0 1 1-1.254 0V2.398l-4.5 4.508a.638.638 0 0 1-.889 0 .623.623 0 0 1 0-.889L5.763.441c.24-.24.64-.24.88 0z"></path>
			            </g>
			          </svg>

			          <span>
			              haut de page
			          </span>
			        </a>
			    </div>
			</aside>

      <!--aside end-->



 
 
 <div class="row py-5 px-">
        <div class="col-md-8 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img src="assets/images2/Matt_LeBlanc_as_Joey_Tribbiani.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            <a href="#" class="btn btn-outline-dark btn-sm btn-block">Modifier Profil</a>
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">Regina Phalange</h4>
                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Etudiant</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">ISTIC</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Institut</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">2020/2021</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Année scolaire</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">40</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Camarades</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0 lead">Mes Informations</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">ID Étudiant : 1212000                  </p>
                        <p class="font-italic mb-0">Nom :  Phalange                        </p>
                        <p class="font-italic mb-0">Prénom :  Regina                       </p>
                        <p class="font-italic mb-0">Date de naissance :  01/01/2000        </p>
                        <p class="font-italic mb-0">Filière  : LGLSI                       </p>
                        <p class="font-italic mb-0">Classe  : LGLSI2C                      </p>

                    </div>
                </div>
                <div class="py-4 px-4">
                    
                    <div class="row p-l-75">
                        <div class="col-lg-3 mb-2 pr-lg-1">
                            <img src="assets/images2/icons/043-email.png" alt="" class="icon1"  width="50" height="50" > <br>
                            <a href="#" class="btn btn-default" role="button">Email</a>

                        </div>
                        <div class="col-lg-3 mb-2 pl-lg-1">
                            <img src="assets/images2/icons/049-agenda.png" alt="" class="icon1" width="50" height="50" > <br>
                            <a href="#" class="btn btn-default" role="button">Agenda</a>

                        </div>
                        <div class="col-lg-3 pr-lg-1 mb-2">
                            <img src="assets/images2/icons/050-megaphone.png" alt="" class="icon1"  width="50" height="50" > <br>
                            <a href="#" class="btn btn-default" role="button">Résultats</a>

                        </div>
                        <div class="col-lg-3 pl-lg-1">
                            <img src="assets/images2/icons/024-file.png" alt="" class="icon1" width="50" height="50" > <br>
                            <a href="#" class="btn btn-default" role="button">Ressources <br> Numériques</a>

                        </div>
                    </div>
                </div>

                <div class="py-4 px-4 bg-primary bg-gradient">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="row p-4">
                            <img src="assets/images2/icons/024-file1.png" alt="bibli" width="50" height="50" ><h2 class="pl-4"><u>Bibliothèque</u> </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"> <p class="lead">Plus de 1 000 ouvrages, revues, dictionnaires, encyclopédies et bases de données en ligne répartis dans <br>
                            la bibliothèque d'universitaires sur tous les campus, accessibles sur place et à distance.</p>
                            <a href="#" class=" font-italic btn btn-primary btn-sm btn-block lead">Plus d'informations</a>
                        </div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><img src="assets/images2/biblio.jpg" alt="" class="img-fluid rounded shadow-sm" width="400"></div>
                        
                    </div>
                </div>

                <div class="py-4 px-4 ">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="row p-4">
                            <img src="assets/images2/icons/035-user.png" alt="" width="50" height="50" ><h2 class="pl-4"><u>Vie Etudiante</u> </h2>
                        </div>
                    </div>
                    <div class="row p-l-75">
                        <div class="col-lg-10 mb-2 pr-lg-1"> <p class="lead">Culture, sport, environnement, solidarité… <br>
                            Il existe mille et une façons de s’engager dans la vie associative étudiante. <br>
                            L’Université encourage ces initiatives étudiantes</p>
                            
                        </div>
                        <div class="col-lg-3 mb-2 pl-lg-1"><img src="assets/images/icons/igc.jfif" alt="" class="img-fluid rounded shadow-sm" width="150"></div>
                        <div class="col-lg-3 mb-2 pl-lg-1"><a href="#" class=" font-italic btn btn-primary btn-sm ">Pour plus d'informations, cliquer ici</a></div>
                        <div class="col-lg-3 mb-3 pl-lg-1"><img src="assets/images2/icons/universe.png" alt="" class="img-fluid rounded shadow-sm"></div>

                    </div>
                </div>

                
                <div class="row p-l-75 p-t-100">
                    <img src="assets/images2/icons/043-email.png" alt="bibli" width="50" height="50"><h3 class="pl-4">Communiquer avec l'Institut </h3>
                </div>
                <div class="row p-l-75">
                    <img src="assests/images2/icons/006-pin.png" alt="bibli" width="50" height="50"><h3 class="pl-4">Technopole de Borj Cédria dans la banlieue sud</h3>
                </div>

            </div>
            <footer class="footer">
  <div class="footer__addr">
    <ul>
    <li class="logoItem">
      <a href="index.html">
          <img class="no-lazy-load" src="assests/images/logo.png" alt="logo_istic">
      </a>
  </li>   
</ul>         
    <address>
      Institut Supérieur des Technologies de l'information et de la communication<br>
          
      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Follow US</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Facebook</a>
        </li>

        <li>
          <a href="#">Instagram</a>
        </li>
        
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Visit Us</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Map & directions</a>
        </li>
        
       
        
        
        
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Navigation</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Présentation</a>
        </li>
        
        <li>
          <a href="#">Formation</a>
        </li>
        
        <li>
          <a href="#">Vie des campus</a>
        </li>
        <li>
          <a href="#">Agenda</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Menu Principal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Accueil</a>
        </li>
        
        <li>
          <a href="#">S'inscrire</a>
        </li>
        
        <li>
          <a href="#">Se Connecter</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>Copyright &copy; 2020 MyISTIC. All rights reserved </p>
    
  </div>
</footer>


        </div>

    </div>





    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>	


        
