<div class="home blog" data-template="base.twig">
  <div class="mainWrap home">
    <div class="row ">
      <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head">
              <div class="profile mr-3">
                <img src="assets/images2/Matt_LeBlanc_as_Joey_Tribbiani.jpg" alt="..." width="130"
                     class="rounded mb-2 img-thumbnail">
                <a href="#" class="btn btn-outline-dark btn-sm btn-block">Modifier Profil</a>
              </div>
              <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0">Regina Phalange</h4>
                <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>Etudiant</p>
              </div>
            </div>
          </div>
          <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">ISTIC</h5><small class="text-muted"> <i
                class="fas fa-image mr-1"></i>Institut</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">2020/2021</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>Année scolaire</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">40</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>Camarades</small>
              </li>
            </ul>
          </div>
          <div class="px-4 py-3 bg-light" >
            <h5 class="mb-0 lead">Mes Informations</h5>
            <div class="p-4 rounded  bg-light">
              <p class="font-italic mb-0">ID Étudiant : 1212000 </p>
              <p class="font-italic mb-0">Nom : Phalange </p>
              <p class="font-italic mb-0">Prénom : Regina </p>
              <p class="font-italic mb-0">Date de naissance : 01/01/2000 </p>
              <p class="font-italic mb-0">Filière : LGLSI </p>
              <p class="font-italic mb-0">Classe : LGLSI2C </p>

            </div>
          </div>
          <div class="py-4 px-4 bg-light">

            <div class="row p-l-75">
              <div class="col-lg-3 mb-2 pr-lg-1 ">
                <img style="margin-left: 7px" src="assets/images2/icons/043-email.png" alt="" class="icon1" width="50" height="50"> <br>
                <a href="#" class="btn btn-default" role="button">Email</a>

              </div>
              <div class="col-lg-3 mb-2 pl-lg-1">
                <img style="margin-left: 15px" src="assets/images2/icons/049-agenda.png" alt="" class="icon1" width="50" height="50"> <br>
                <a href="#" class="btn btn-default" role="button">Agenda</a>

              </div>
              <div class="col-lg-3 pr-lg-1 mb-2">
                <img style="margin-left: 20px" src="assets/images2/icons/050-megaphone.png" alt="" class="icon1" width="50" height="50"> <br>
                <a href="#" class="btn btn-default" role="button">Résultats</a>

              </div>
              <div class="col-lg-3 pl-lg-1">
                <img style="margin-left: 30px" src="assets/images2/icons/024-file.png" alt="" class="icon1" width="50" height="50"> <br>
                <a href="#" class="btn btn-default" role="button">Ressources <br> Numériques</a>

              </div>
            </div>
          </div>

          <div class="py-4 px-4 " style="background-color: #57A0B3">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div class="row p-4">
                <img src="assets/images2/icons/024-file1.png" alt="bibli" width="50" height="50">
                <h2 class="pl-4" style="color: white"><u>Bibliothèque</u></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-2 pr-lg-1"><p class="lead" style="color: white"><strong>Plus de 1 000 ouvrages, revues, dictionnaires,
                encyclopédies et bases de données en ligne répartis dans <br>
                la bibliothèque d'universitaires sur tous les campus, accessibles sur place et à distance.</strong></p>
                <a href="#" class=" lead" style="color: #2e3133">Plus d'informations</a>
              </div>
              <div class="col-lg-6 mb-2 pl-lg-1"><img src="assets/images2/biblio.jpg" alt=""
                                                      class="img-fluid rounded shadow-sm" width="400"></div>

            </div>
          </div>

          <div class="py-4 px-4 ">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div class="row p-4">
                <img src="assets/images2/icons/035-user.png" alt="" width="50" height="50">
                <h2 class="pl-4"><u>Vie Etudiante</u></h2>
              </div>
            </div>
            <div class="row p-l-75">
              <div class="col-lg-10 mb-2 pr-lg-1"><p class="lead">Culture, sport, environnement, solidarité… <br>
                Il existe mille et une façons de s’engager dans la vie associative étudiante. <br>
                L’Université encourage ces initiatives étudiantes</p>

              </div>
              <div class="col-lg-3 mb-2 pl-lg-1"><img src="assets/images/icons/igc.jfif" alt=""
                                                      class="img-fluid rounded shadow-sm" width="150"></div>
              <div class="col-lg-3 mb-2 pl-lg-1"><a href="#" class=" font-italic btn btn-primary btn-sm ">Pour plus
                d'informations, cliquer ici</a></div>
              <div class="col-lg-3 mb-3 pl-lg-1"><img src="assets/images2/icons/universe.png" alt=""
                                                      class="img-fluid rounded shadow-sm"></div>

            </div>
          </div>
          <div class="separator" style="border-top: 4px solid #bbb; margin: 50px 50px -50px;">

          </div>
          <div style="margin: 20px">
          <div class="row p-l-75 p-t-100" >
            <img  src="assets/images2/icons/043-email.png" alt="bibli" width="50" height="50">
            <h3 class="pl-4"><u>Communiquer avec l'Institut</u> </h3>
          </div>
          <div class="row p-l-75">
            <img src="assets/images2/icons/006-pin.png" alt="bibli" width="50" height="50">
            <h3 class="pl-4"><u>Technopole de Borj Cédria dans la banlieue sud</u></h3>
          </div>
          </div>
        </div>
<app-end style="zoom: 78%"></app-end>

      </div>

    </div>




