<!--<script type="text/html" id="tmpl-osm-marker-input">-->
<!--  <div class="locate">-->
<!--    <a class="dashicons dashicons-location" data-name="locate-marker">-->
<!--					<span class="screen-reader-text">-->
<!--						Localiser le marqueur					</span>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="input">-->
<!--    <input type="text" data-name="label"/>-->
<!--  </div>-->
<!--  <div class="tools">-->
<!--    <a class="acf-icon -minus small light acf-js-tooltip" href="#" data-name="remove-marker"-->
<!--       title="Retirer le marqueur"></a>-->
<!--  </div>-->
<!--</script>-->
<!--<script type='/.text/javascript'>-->
<!--window.lazySizesConfig = window.lazySizesConfig || {};-->

<!--window.lazySizesConfig.lazyClass    = 'lazyload';-->
<!--window.lazySizesConfig.loadingClass = 'lazyloading';-->
<!--window.lazySizesConfig.loadedClass  = 'lazyloaded';-->

<!--lazySizesConfig.loadMode = 1;-->

<!--</script>-->
<!--<script type='text/javascript' src='./js/smush-lazy-load.minccfb.js?ver=3.4.2'></script>-->
<!--<script type='text/javascript'>-->
<!--  lazySizes.init();-->
<!--</script>-->


<footer class="footer">
  <div class="footer__addr" style=" padding-left: 100px; padding-top: 50px">
    <ul >
      <li class="logoItem">
        <a href="index.html">
          <img   src="../../../assets/images/logo.png" alt="logo_istic">
        </a>
      </li>
    </ul>
    <address style="color:#fff;">
      Institut Supérieur des Technologies de l'information et de la communication<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <div class="footer__nav" style="display: inline-flex; padding-left: 100px" >
    <div class="nav__item" style="padding: 70px">
      <h2 class="nav__title" style="color:#fff;">Follow US</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Facebook</a>
        </li>

        <li>
          <a href="#">Instagram</a>
        </li>

      </ul>
    </div>

    <div class="nav__item nav__item--extra" style="padding: 70px">
      <h2 class="nav__title" style="color:#fff;">Visit Us</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Map & directions</a>
        </li>


      </ul>
    </div>

    <div class="nav__item" style="padding: 70px">
      <h2 class="nav__title" style="color:#fff;">Navigation</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Présentation</a>
        </li>

        <li>
          <a href="#">Formation</a>
        </li>

        <li>
          <a href="#">Vie des campus</a>
        </li>
        <li>
          <a href="#">Agenda</a>
        </li>
      </ul>
    </div>

    <div class="nav__item" style="padding: 70px">
      <h2 class="nav__title" style="color:#fff;">Menu Principal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Accueil</a>
        </li>

        <li>
          <a routerLink="/inscription">S'inscrire</a>
        </li>

        <li>
          <a routerLink="/login">Se Connecter</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="legal">
    <p>Copyright &copy; 2020 MyISTIC. All rights reserved </p>

  </div>
</footer>

