<section class="prefooter">
      <div class="prefooterContent">
        
          <div class="contentElement">
              <a href="">
                <figure>

                                      <img  alt="Panorama Rouen" data-src="./assets/images/prefooter3.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <figcaption>
                    <div class="captionContent">
                      <div class="iconWrap">
                        <img  alt="" data-src="../../../assets/images/compass.svg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                      </div>
                      <span>
                        Découvrir ISTIC
                      </span>
                    </div>
                  </figcaption>
                </figure>
              </a>
          </div>
        
          <div class="contentElement">
              <a href="">
                <figure>

                                      <img  alt="pochette" data-src="./assets/images/prefooter4.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <figcaption>
                    <div class="captionContent">
                      <div class="iconWrap">
                        <img  alt="" data-src="../assets/images/mortarboard.svg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                      </div>
                      <span>
                        Nos formations
                      </span>
                    </div>
                  </figcaption>
                </figure>
              </a>
          </div>
        
          <div class="contentElement">
              <a href="">
                <figure>

                                      <img  alt="Formation" data-src="assets/images/prefooter3.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <figcaption>
                    <div class="captionContent">
                      <div class="iconWrap">
                        <img  alt="" data-src="/assets/images/flyer.svg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                      </div>
                      <span>
                        Inscription
                      </span>
                    </div>
                  </figcaption>
                </figure>
              </a>
          </div>
        
          <div class="contentElement">
              <a href="" target="_blank">
                <figure>

                                      <img  alt="PC portable" data-src="assets/images/prefooter4.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <figcaption>
                    <div class="captionContent">
                      <div class="iconWrap">
                        <img  alt="" data-src="assets/images/lifebuoy-2.svg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                      </div>
                      <span>
                        Assistance en ligne
                      </span>
                    </div>
                  </figcaption>
                </figure>
              </a>
          </div>
              </div>
  </section>
