<div class="row py-5 px-">
		<div class="col-md-8 mx-auto">

			<div class="bg-etudiant shadow rounded overflow-hidden p-t-100">

				<div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
						
                        <div class="profile mr-3">
                            <img src="assets/images3/Matt_LeBlanc_as_Joey_Tribbiani.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"> <br>
							<label for="file">Modifier photo</label>
							<input class="" type="file" placeholder="Ajouter votre photo" capture style="cursor: pointer;">	
							

                        </div>
                        <div class="media-body mb-5 text-white">
                            <h3 class="mt-0 mb-0 text-muted">Ken Adams</h3>
                            <p class="medium mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Etudiant</p>
                        </div>
						<br>
						
                    </div>
					<div class="col-md-2">
						<div class="container-login100-form-btn p-t-10 m-b-100">
							<button class="login100-form-btn">
								Enregistrer
							</button>
						</div>
					</div>
                </div>

		
		<form class="p-t-100 p-l-75">
			<h1>Modifier Mes Informations</h1> <hr>

				<div class="row p-l-75">
					<h3>NB:<small> Tous les changements seront inspectés par le système avant d'etre confirmés. </small></h3>
				</div>
		
				<div class="row">
					<div class="col-md-4">
						<div class="wrap-input100 validate-input m-b-20" data-validate = "Last Name is required" >
							<input class="input100" type="text" name="firstname" placeholder="Nom">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user"></i>
							</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="wrap-input100 validate-input m-b-20" data-validate = "First Name is required">
							<input class="input100" type="text" name="firstname" placeholder="Prenom">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user"></i>
							</span>
						</div>
					</div>
				</div>


		<div class="row">
			<div class="col-md-8">
				<div class="wrap-input100 validate-input m-b-20" data-validate = "Email is required">
					<input class="input100" type="text" name="email" placeholder="Email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="wrap-input100 validate-input m-b-20" data-validate = "Filiere is required">
					<input class="input100" type="text" name="filiere" placeholder="Filière">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="wrap-input100 validate-input m-b-20" data-validate = "Birthday is required">
					<input class="input100" type="text" name="birthday" placeholder="Date de naissance" onfocus="(this.type='Date')">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="wrap-input100 validate-input m-b-20" data-validate = "Sex is required">
					<select class="input100">
						<option value="genre">Genre</option>
						<option value="homme">Homme</option>
						<option value="femme">Femme</option>
					  </select>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>
			</div>
		</div>

		<h2> Modifier mot de passe</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="wrap-input100 validate-input m-b-20" data-validate = "Password is required">
					<input class="input100" type="password" name="pass" placeholder="Ancien mot de passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-4">

				<div class="wrap-input100 validate-input m-b-20" data-validate = "Password is required">
					<input class="input100" type="password" name="pass1" placeholder="Nouveau mot de passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>
			</div>
			<div class="col-md-4">

				<div class="wrap-input100 validate-input m-b-20" data-validate = "Password is required">
					<input class="input100" type="password" name="pass2" placeholder="Confirmer mot de passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
			<div class="container-login100-form-btn p-t-10 m-b-100">
				<button class="login100-form-btn">
					Enregistrer
				</button>
			</div>
		</div>
		</div>
   </form>
			
	</div>
	</div>
	

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>	

